
.dropdown-btn{
  position: absolute;
  z-index: 9;
  top: 17px;
  right: 2px;
  height: 38px;
  width: 38px;
  border: none;
  background-color: transparent;
  outline: none;
  display: none;
  cursor: pointer;
}

.opened + .dropdown-btn{
  opacity: 1;
  display: block;
}
.dropdown-btn:hover .icon-arrow-up {
  opacity: 0.73;
}


.ui-widget.ui-widget-content.ui-autocomplete {
  background: #FFFFFF;
  box-shadow: 0 1px 10px 0 rgba(0,44,92,0.28);
  border-radius: 4px;
  max-height: 144px;
  overflow: auto;
}

.ui-menu{
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: 0;
}

.ui-menu-item{
  cursor: pointer;
}

.ui-autocomplete {
  position: absolute;
}

.ui-menu-item-wrapper{
  position: relative;
  box-sizing: border-box;
  padding-left: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.ui-state-active{
  background-color: #F6F7F9;
  font-weight: bold;
}

.ui-helper-hidden-accessible{
  display: none;
}

.ui-menu-item__avatar{
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  overflow: hidden;
  margin-right: 8px;
  vertical-align: middle;
}

.ui-menu-item__name{
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
}

.ui-menu-item__floor{
  font-size: 13px;
  color: #87909a;
  letter-spacing: 0;
  line-height: 16px;
}

.ui-menu-item__floor:before{
  content: '\00B7';
  width: 10px;
  display: inline-block;
  text-align: center;
}

